<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="header::header"></div>
<br><br><br>

<table>
    <thead>
    <tr>
        <th>아군원딜</th>
        <th>아군폿</th>
        <th>상대원딜</th>
        <th>상대서폿</th>
        <th><<4명조합총등장</th>
        <th>아군승수</th>
        <th>아군승률</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recommendAdcKnowMsupEadcEsup:${recommendAdcKnowMsupEadcEsupList}">
        <td th:text="${recommendAdcKnowMsupEadcEsup.MAdcE}"></td>
        <td th:text="${recommendAdcKnowMsupEadcEsup.MSupE}"></td>
        <td th:text="${recommendAdcKnowMsupEadcEsup.EAdcE}"></td>
        <td th:text="${recommendAdcKnowMsupEadcEsup.ESupE}"></td>
        <td th:text="${recommendAdcKnowMsupEadcEsup.whole}"></td>
        <td th:text="${recommendAdcKnowMsupEadcEsup.win}"></td>
        <td th:text="${recommendAdcKnowMsupEadcEsup.winrate}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>