<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>아군서폿</th>
            <th>상대원딜</th>
            <th>상대서폿</th>
            <th><<3개챔조합총등장</th>
            <th>아군승수</th>
            <th>아군승률</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recommendSupKnowEadcEsup:${recommendSupKnowEadcEsupList}">
            <td th:text="${recommendSupKnowEadcEsup.MSup}"></td>
            <td th:text="${recommendSupKnowEadcEsup.EAdc}"></td>
            <td th:text="${recommendSupKnowEadcEsup.ESup}"></td>
            <td th:text="${recommendSupKnowEadcEsup.whole}"></td>
            <td th:text="${recommendSupKnowEadcEsup.win}"></td>
            <td th:text="${recommendSupKnowEadcEsup.winrate}"></td>

        </tr>
        </tbody>
    </table>
</body>
</html>