<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="header::header"></div>
<br><br><br>

    <table>
        <thead>
        <tr>
            <th>아군서폿</th>
            <th><<1개챔조합총등장</th>
            <th>아군승수</th>
            <th>아군승률</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recommendSupKnow:${recommendSupKnowList}">
            <td th:text="${recommendSupKnow.MSupE}"></td>
            <td th:text="${recommendSupKnow.whole}"></td>
            <td th:text="${recommendSupKnow.win}"></td>
            <td th:text="${recommendSupKnow.winrate}"></td>

        </tr>
        </tbody>
    </table>
</body>
</html>