<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>아군조합</th>
            <th><<1개챔조합총등장</th>
            <th>아군승수</th>
            <th>아군승률</th>
            <th>원딜</th>
            <th>서폿</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recommendCombiKnow:${recommendCombiKnowList}">
            <td th:text="${recommendCombiKnow.MCombi}"></td>
            <td th:text="${recommendCombiKnow.whole}"></td>
            <td th:text="${recommendCombiKnow.win}"></td>
            <td th:text="${recommendCombiKnow.winrate}"></td>
            <td th:text="${recommendCombiKnow.MAdc}"></td>
            <td th:text="${recommendCombiKnow.MSup}"></td>

        </tr>
        </tbody>
    </table>
</body>
</html>