<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>아군원딜</th>
        <th>상대원딜</th>
        <th>상대서폿</th>
        <th><<3명조합총등장</th>
        <th>아군승수</th>
        <th>아군승률</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recommendAdcKnowEadcEsup:${recommendAdcKnowEadcEsupList}">
        <td th:text="${recommendAdcKnowEadcEsup.MAdc}"></td>
        <td th:text="${recommendAdcKnowEadcEsup.EAdc}"></td>
        <td th:text="${recommendAdcKnowEadcEsup.ESup}"></td>
        <td th:text="${recommendAdcKnowEadcEsup.whole}"></td>
        <td th:text="${recommendAdcKnowEadcEsup.win}"></td>
        <td th:text="${recommendAdcKnowEadcEsup.winrate}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>