<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>아군원딜</th>
            <th>상대서폿</th>
            <th><<2개챔조합총등장</th>
            <th>아군승수</th>
            <th>아군승률</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recommendAdcKnowEsup:${recommendAdcKnowEsupList}">
            <td th:text="${recommendAdcKnowEsup.MAdc}"></td>
            <td th:text="${recommendAdcKnowEsup.ESup}"></td>
            <td th:text="${recommendAdcKnowEsup.whole}"></td>
            <td th:text="${recommendAdcKnowEsup.win}"></td>
            <td th:text="${recommendAdcKnowEsup.winrate}"></td>

        </tr>
        </tbody>
    </table>
</body>
</html>