<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
</head>
<body>
<div class="container" style="max-width: 600px">
  <div class="py-5 text-center">
    <h2>500 오류</h2>
  </div>
  <div>
    <p>추정되는 원인은 아래와 같습니다.</p>
  </div>
  <hr class="my-4">
  <p>1. 챔피언 추천 기능 사용 중 추천받을 포지션에 챔피언 기입</p>
  <p>     ex)추천 종류를 '원딜'로 설정 후 '우리팀 원딜' 입력란에 내용을 기입한 경우</p>
  <p>     ex)추천 종류를 '서폿'으로 설정 후 '우리팀 서폿' 입력란에 내용을 기입한 경우</p>
  <p>     ex)추천 종류를 '조합'으로 설정 후 '우리팀 원딜' 또는 '우리팀 서폿' 입력란에 내용을 기입한 경우</p>


</div> <!-- /container -->
</body>
</html>