<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <table border="1">
        <thead>
        <tr class="tempTr">
            <th>챔피언추천</th>
            <th><a th:href="@{/awrmain}" th:text="메인으로"></a></th>
            <th><a th:href="@{/free_board/list}" th:text="자유게시판"></a></th>
        </tr>
        </thead>
    </table>
</div>
<div>
    <a th:href="@{/free_board/write}" th:text="글쓰기"></a>
</div>
<table border="1">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일</th>
            <th>작성자</th>
            <th>조회수</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="frbd:${nowPageList}">
            <td th:text="${frbd.bno}"></td>
            <td><a th:text="${frbd.title}" th:href="@{|/free_board/${frbd.bno}|}"></a> </td>
            <td th:text="${#dates.format(frbd.regDate,'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${frbd.writer}"></td>
            <td th:text="${frbd.viewCnt}"></td>
        </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/free_board/write}" th:text="글쓰기"></a>
</div>
<div>
    <a th:if="${pageList.get(0)>=10}" th:text="이전" th:href="@{|/free_board/listPage/20/${pageList.get(0)-10}|}"></a>
    <a th:each="page:${pageList}" th:text="|${page} |" th:href="@{|/free_board/listPage/20/${page-1}|}"></a>
    <a th:if="${lastIndex}<${needPagePlusOne}" th:text="다음" th:href="@{|/free_board/listPage/20/${pageList.get(0)+10}|}"></a>
</div>
</body>
</html>