<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="header::header"></div>

<div>
    <a th:href="@{|/free_board/${freeBoard.bno}/update|}">글 수정</a>
    <a th:href="@{/free_board/list}">글 목록</a>
</div>
<table>
    <thead>
    <tr>
        <th>글번호</th>
        <th>제목</th>
        <th>내용</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${freeBoard.bno}"></td>
        <td th:text="${freeBoard.title}"></td>
        <td th:text="${freeBoard.content}"></td>
        <td th:text="${freeBoard.writer}"></td>
        <td th:text="${#dates.format(freeBoard.regDate,'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${freeBoard.viewCnt}"></td>
    </tr>
    </tbody>
</table>
<div>
    <a th:href="@{|/free_board/${freeBoard.bno}/update|}">글 수정</a>
    <a th:href="@{|/free_board/${freeBoard.bno}/delete|}">글 삭제</a>
    <a th:href="@{/free_board/list}">글 목록</a>
</div>
<div>
<form th:action="@{/free_board/reply/save}" method="post">
    <label>작성자</label>
    <input type="text" name="writer" /><br />

    <label>내용</label>
    <textarea cols="50" rows="5" name="content"></textarea><br />
    <input type="hidden" name="bno" th:value="${freeBoard.bno}">
    <button type="submit">작성</button>

</form>
</div>
<div>
    <ul>
        <li th:each="reply:${replies}">
            <div th:if="${#strings.equals(reply.rno,rno)}">
                <form th:action="@{|/free_board/updatereply/${reply.bno}/${rno}|}" method="post">
                    <label>작성자</label>
                    <input type="text" name="writer" th:value="${reply.writer}"/><br />

                    <label>내용</label>
                    <textarea cols="50" rows="5" name="content" th:text="${reply.content}"></textarea><br />
                    <input type="hidden" name="bno" th:value="${freeBoard.bno}">
                    <input type="hidden" name="rno" th:value="${rno}">
                    <button type="submit">작성</button>

                </form>
            </div>


            <div th:unless="${#strings.equals(reply.rno,rno)}">
                <p th:text="|${reply.writer}      /${#dates.format(reply.regDate,'yyyy-MM-dd HH:mm')}|"></p>
                <p th:text="${reply.content}"></p>
            </div>
        </li>

    </ul>
</div>
</body>
</html>