<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <a th:href="@{/free_board/write}" th:text="글쓰기"></a>
</div>
<table border="1">
    <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성일</th>
            <th>작성자</th>
            <th>조회수</th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="frbd:${freeBoardList}">
            <td th:text="${frbd.bno}"></td>
            <td><a th:text="${frbd.title}" th:href="@{|/free_board/${frbd.bno}|}"></a> </td>
            <td th:text="${frbd.regDate}"></td>
            <td th:text="${frbd.writer}"></td>
            <td th:text="${frbd.viewCnt}"></td>
        </tr>
    </tbody>
</table>
<div>
    <a th:href="@{/free_board/write}" th:text="글쓰기"></a>
</div>
</body>
</html>