<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/style/freeBoardArticle.css}" href="../static/style/freeBoard.css" rel="stylesheet" />
</head>
<body>
<div th:replace="header::header"></div>
<div class="maindiv">
    <div>
        <a th:href="@{|/free_board/${freeBoard.bno}/update|}">글 수정</a>
        <a th:href="@{/free_board/list}">글 목록</a>
    </div>
    <table border="1" class="contentTbl">
        <thead>
        <tr>
            <th>글번호</th>
            <th>제목</th>

            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${freeBoard.bno}"></td>
            <td th:text="${freeBoard.title}"></td>

            <td th:text="${freeBoard.writer}"></td>
            <td th:text="${#dates.format(freeBoard.regDate,'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${freeBoard.viewCnt}"></td>
        </tr>
        <tr>
            <td>내용</td><td th:text="${freeBoard.content}" colspan="4"></td>
        </tr>
        </tbody>
    </table>
    <div>
        <a th:href="@{|/free_board/${freeBoard.bno}/update|}">글 수정</a>
        <a th:href="@{|/free_board/${freeBoard.bno}/delete|}">글 삭제</a>
        <a th:href="@{/free_board/list}">글 목록</a>
    </div>
</div>
<div>
<form th:action="@{/free_board/reply/save}" method="post">
    <label>작성자</label>
    <input type="text" name="writer" th:value="${session.loginMember.userNickname}" readonly/><br />

    <label>내용</label>
    <textarea cols="50" rows="5" name="content"></textarea><br />
    <input type="hidden" name="bno" th:value="${freeBoard.bno}">
    <button type="submit">작성</button>

</form>
</div>
<div>
    <ul>
        <li th:each="reply:${freeBoardReplyPaging.replies}">
            <div>
                <p th:text="|${reply.writer} /${#dates.format(reply.regDate,'yyyy-MM-dd HH:mm')} |"></p>
                <p th:text="${reply.content}"></p>
                <a th:href="@{|/free_board/updatereply/${reply.bno}/${reply.rno}|}" th:text="수정">cv</a>
                <a th:href="@{|/free_board/deletereply/${reply.bno}/${reply.rno}|}" th:text="삭제">cv</a>

            </div>
        </li>

    </ul>
    <a th:if="${freeBoardReplyPaging.pages.get(0)>=10}" th:text="이전" th:href="@{|/free_board/${freeBoard.bno}/${freeBoardReplyPaging.pages.get(0)-10}|}"></a>
    <a th:each="page:${freeBoardReplyPaging.pages}" th:text="|${page+1} |" th:href="@{|/free_board/${freeBoard.bno}/${page}|}"></a>
    <a th:if="${freeBoardReplyPaging.endPaging+1}<${freeBoardReplyPaging.lastPageNum}" th:text="다음" th:href="@{|/free_board/${freeBoard.bno}/${freeBoardReplyPaging.pages.get(0)+10}|}"
</div>
</body>
</html>