<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="header::header"></div>

<form th:action="@{|/free_board/${freeBoard.bno}/update|}" method="post">
    <label>제목</label>
    <input type="text" name="title" th:value="${freeBoard.title}"/><br />

    <label>작성자</label>
    <input type="text" name="writer" th:value="${freeBoard.writer}" /><br />

    <label>내용</label>
    <textarea cols="50" rows="5" name="content" th:text="${freeBoard.content}"></textarea><br />

    <button type="submit">수정</button>

</form>
</body>
</html>